<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&lt;root&gt;</key>
	<array>
		<array>
			<string>program</string>
			<string>@Identifier</string>
			<string>@</string>
			<string>\n</string>
			<string>var</string>
			<string>&lt;declarationList1&gt;</string>
			<string>begin</string>
			<string>\n</string>
			<string>/</string>
			<string>&lt;operatorList1&gt;</string>
			<string>end</string>
		</array>
	</array>
	<key>&lt;declarationList1&gt;</key>
	<array>
		<array>
			<string>&lt;declarationList&gt;</string>
		</array>
	</array>
	<key>&lt;declarationList&gt;</key>
	<array>
		<array>
			<string>&lt;declarationList&gt;</string>
			<string>&lt;declaration&gt;</string>
			<string>\n</string>
		</array>
		<array>
			<string>&lt;declaration&gt;</string>
			<string>\n</string>
		</array>
	</array>
	<key>&lt;declaration&gt;</key>
	<array>
		<array>
			<string>&lt;idList&gt;</string>
			<string>:</string>
			<string>integer</string>
		</array>
	</array>
	<key>&lt;idList1&gt;</key>
	<array>
		<array>
			<string>&lt;idList&gt;</string>
		</array>
	</array>
	<key>&lt;idList&gt;</key>
	<array>
		<array>
			<string>,</string>
			<string>@Identifier</string>
		</array>
		<array>
			<string>&lt;idList&gt;</string>
			<string>,</string>
			<string>@Identifier</string>
		</array>
	</array>
	<key>&lt;operatorList1&gt;</key>
	<array>
		<array>
			<string>&lt;operatorList&gt;</string>
		</array>
	</array>
	<key>&lt;operatorList&gt;</key>
	<array>
		<array>
			<string>&lt;operator&gt;</string>
			<string>\n</string>
		</array>
		<array>
			<string>&lt;operatorList&gt;</string>
			<string>&lt;operator&gt;</string>
			<string>\n</string>
		</array>
	</array>
	<key>&lt;operator&gt;</key>
	<array>
		<array>
			<string>@Identifier</string>
			<string>:=</string>
			<string>&lt;expression1&gt;</string>
		</array>
		<array>
			<string>read</string>
			<string>(</string>
			<string>&lt;idList1&gt;</string>
			<string>)</string>
		</array>
		<array>
			<string>write</string>
			<string>(</string>
			<string>&lt;idList1&gt;</string>
			<string>)</string>
		</array>
		<array>
			<string>for</string>
			<string>@Identifier</string>
			<string>:=</string>
			<string>&lt;expression1&gt;</string>
			<string>to</string>
			<string>&lt;expression1&gt;</string>
			<string>step</string>
			<string>&lt;expression1&gt;</string>
			<string>do</string>
			<string>&lt;operatorList1&gt;</string>
			<string>next</string>
		</array>
		<array>
			<string>if</string>
			<string>&lt;boolExpression1&gt;</string>
			<string>&lt;operatorList1&gt;</string>
			<string>else</string>
			<string>&lt;operatorList1&gt;</string>
			<string>endif</string>
		</array>
	</array>
	<key>&lt;expression1&gt;</key>
	<array>
		<array>
			<string>&lt;expression&gt;</string>
		</array>
	</array>
	<key>&lt;expression&gt;</key>
	<array>
		<array>
			<string>&lt;expression&gt;</string>
			<string>+</string>
			<string>&lt;term1&gt;</string>
		</array>
		<array>
			<string>&lt;expression&gt;</string>
			<string>-</string>
			<string>&lt;term1&gt;</string>
		</array>
		<array>
			<string>-</string>
			<string>&lt;term1&gt;</string>
		</array>
		<array>
			<string>&lt;term1&gt;</string>
		</array>
	</array>
	<key>&lt;term1&gt;</key>
	<array>
		<array>
			<string>&lt;term&gt;</string>
		</array>
	</array>
	<key>&lt;term&gt;</key>
	<array>
		<array>
			<string>&lt;term&gt;</string>
			<string>*</string>
			<string>&lt;multiplier1&gt;</string>
		</array>
		<array>
			<string>&lt;term&gt;</string>
			<string>/</string>
			<string>&lt;multiplier1&gt;</string>
		</array>
		<array>
			<string>&lt;multiplier1&gt;</string>
		</array>
	</array>
	<key>&lt;multiplier1&gt;</key>
	<array>
		<array>
			<string>&lt;multiplier&gt;</string>
		</array>
	</array>
	<key>&lt;multiplier&gt;</key>
	<array>
		<array>
			<string>&lt;multiplier&gt;</string>
			<string>^</string>
			<string>&lt;firstExpression&gt;</string>
		</array>
		<array>
			<string>&lt;firstExpression&gt;</string>
		</array>
	</array>
	<key>&lt;firstExpression&gt;</key>
	<array>
		<array>
			<string>(</string>
			<string>&lt;expression1&gt;</string>
			<string>)</string>
		</array>
		<array>
			<string>@Identifier</string>
		</array>
		<array>
			<string>@Constant</string>
		</array>
	</array>
	<key>&lt;boolExpression1&gt;</key>
	<array>
		<array>
			<string>&lt;boolExpression&gt;</string>
		</array>
	</array>
	<key>&lt;boolExpression&gt;</key>
	<array>
		<array>
			<string>&lt;boolExpression&gt;</string>
			<string>or</string>
			<string>&lt;lt1&gt;</string>
		</array>
		<array>
			<string>&lt;lt1&gt;</string>
		</array>
	</array>
	<key>&lt;lt1&gt;</key>
	<array>
		<array>
			<string>&lt;lt&gt;</string>
		</array>
	</array>
	<key>&lt;lt&gt;</key>
	<array>
		<array>
			<string>&lt;lt&gt;</string>
			<string>and</string>
			<string>&lt;lm&gt;</string>
		</array>
		<array>
			<string>&lt;lm&gt;</string>
		</array>
	</array>
	<key>&lt;lm&gt;</key>
	<array>
		<array>
			<string>&lt;expression&gt;</string>
			<string>&lt;&gt;</string>
			<string>&lt;expression1&gt;</string>
		</array>
		<array>
			<string>&lt;expression&gt;</string>
			<string>&gt;</string>
			<string>&lt;expression1&gt;</string>
		</array>
		<array>
			<string>&lt;expression&gt;</string>
			<string>&lt;</string>
			<string>&lt;expression1&gt;</string>
		</array>
		<array>
			<string>&lt;expression&gt;</string>
			<string>==</string>
			<string>&lt;expression1&gt;</string>
		</array>
		<array>
			<string>&lt;expression&gt;</string>
			<string>&gt;=</string>
			<string>&lt;expression1&gt;</string>
		</array>
		<array>
			<string>&lt;expression&gt;</string>
			<string>&lt;=</string>
			<string>&lt;expression1&gt;</string>
		</array>
		<array>
			<string>[</string>
			<string>&lt;boolExpression1&gt;</string>
			<string>]</string>
		</array>
		<array>
			<string>not</string>
			<string>&lt;lm&gt;</string>
		</array>
	</array>
</dict>
</plist>
